
h1 { color: blue;}
.A{ 
    color: white;
    background-color:rgb(82, 184, 82);}
    b{color: black;}
h2{ color:#678ef8 ;}
#S{ color: coral;}
ul{color:palevioletred;}
ol{color: palevioletred;}
#C+li{color: darkgoldenrod;}
#D{color: red;}